# Custom Module

In [ ]:
# this type import all method
import mod

In [ ]:
mod.add(5,6,7)

In [ ]:
mod.data

In [ ]:
m=mod.math(2,3,4,5)
m.add()

In [ ]:
m.mul()

In [ ]:
# this type import specific method
from mod import math
b=math(7,8,9)
b.add()

In [ ]:
b.mul()

# Datetime

In [2]:
import datetime

In [ ]:
# getting current  date 
today=datetime.date.today() # datetime is a module, date is a class & today is a function
today

In [ ]:
today.day, today.month, today.year #these are property/attribute

In [ ]:
today.month

In [ ]:
# Customize date
cdate=datetime.date(2025,11,25)
cdate.day

In [ ]:
cdate.month

In [ ]:
cdate.year

In [ ]:
# getting date and time
dt=datetime.datetime.now()
dt

In [ ]:
dt.day, dt.hour,dt.minute, dt.second, dt.microsecond

In [ ]:
# customize date and time
cdt=datetime.datetime(2025,11,25,20,25,30,5473)
cdt

In [30]:
cdt.day, cdt.hour,cdt.minute, cdt.second, cdt.microsecond

(25, 20, 25, 30, 5473)

# timedelta

In [3]:
now=datetime.datetime.now()
now

datetime.datetime(2022, 3, 5, 7, 22, 12, 756753)

In [4]:
td=datetime.timedelta
now+td(weeks=20)

datetime.datetime(2022, 7, 23, 7, 22, 12, 756753)

In [32]:
#adding time
a=now+td(weeks=25, days=12, hours=18)
a

datetime.datetime(2022, 9, 9, 2, 34, 10, 610930)

In [7]:
# subtract time
now-datetime.timedelta(weeks=25, days=12, hours=18)

datetime.datetime(2021, 8, 29, 13, 22, 12, 756753)

In [10]:
ts=datetime.datetime.fromtimestamp(0)
ts

datetime.datetime(1970, 1, 1, 6, 0)

In [12]:
ts=datetime.datetime.fromtimestamp(200)
ts

datetime.datetime(1970, 1, 1, 6, 3, 20)

In [35]:
# Example 1: Python timestamp to datetime
from datetime import datetime

timestamp = 1646447650.61093
dt_object = datetime.fromtimestamp(timestamp)

print("dt_object =", dt_object)
print("type(dt_object) =", type(dt_object))

dt_object = 2022-03-05 08:34:10.610930
type(dt_object) = <class 'datetime.datetime'>

In [36]:
#Example 2: Python datetime to timestamp
from datetime import datetime

# current date and time
now = datetime.now()

timestamp = datetime.timestamp(now)
print("timestamp =", timestamp)

timestamp = 1646448327.322799