In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import metrics
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.linear_model import Lasso # module of Lasso Regression

In [3]:
from xgboost import XGBRegressor # or 
# import xgboost as xgb

C:\Python310\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [4]:
from  sklearn.datasets import load_boston  # module of sklearn dataset
house_price_dataset = load_boston()

# loading the dataset to a pandas dataFrame
house_price_dataframe=pd.DataFrame(house_price_dataset.data, columns = house_price_dataset.feature_names)
house_price_dataframe

# adding target(house price) attribudes/column to the dataFrame
house_price_dataframe['PRICE']=house_price_dataset.target
house_price_dataframe

C:\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [5]:
from sklearn.model_selection import train_test_split # # module of Train and Test split

In [6]:
from sklearn.preprocessing import LabelEncoder  # module of Label Encoder 
encoder=LabelEncoder()

In [7]:
from sklearn.linear_model import LinearRegression # module of LinearRegression
model=LinearRegression()

In [8]:
from sklearn.metrics import mean_squared_error # module of Mean Squared Error
mean_squared_error()

TypeError: mean_squared_error() missing 2 required positional arguments: 'y_true' and 'y_pred'

In [ ]:
from sklearn.metrics import r2_score # module of R Squared Error
r2_score()

In [ ]:
from itertools import combinations # module of combinations
list(combinations(['A','B','C'],2))

In [ ]:
from sklearn.model_selection import KFold # module of k-fold Cross-Validation
KFold(n_splits=10)

In [ ]:
from sklearn.model_selection import cross_val_score  # module of cross_val_score
cross_val_score(Mode1_1,features,target, cv=10)

In [ ]:
import warnings
warnings.filterwarnings(action='ignore') # remove warning