In [9]:
num1 = int(input("Enter Num1 : "))
num2 = int(input("Enter Num2 : "))

In [10]:
result = num1 + num2

In [11]:

print(result)

10

 data type

In [46]:
name = 'RAsel Mahamud' 
print(name)

RAsel Mahamud

In [48]:
name.upper()
name.lower()
name.title()
name.capitalize()
name.count('a')
name.find('l')
name.index('l')
name.endswith('d')
name.startswith('R')
name.isalpha()
name.isupper()
name.split('a')

['RAsel M', 'h', 'mud']

Complex Number

In [60]:
n=8
c=2+3j
print(c)
type(c)
complex(n)
bool(n)
bool(None)
bool(0)
bool("")

(2+3j)

False

String Formatting

In [69]:
name = 'Rasel' 
age = 24
cgpa= 3.69
a= " Name: {}\n Age: {}\n CGPA: {}\n\n".format(name, age, cgpa) 
print(a)
print(" Name: %s\n Age: %d\n CGPA: %.2f\n\n" %(name, age, cgpa))

print(f"Name: {name}\n Age: {age}\n CGPA: {cgpa}\n\n")

 Name: Rasel
 Age: 24
 CGPA: 3.69


 Name: Rasel
 Age: 24
 CGPA: 3.69


 Name: Rasel
 Age: 24
 CGPA: 3.69