In [9]:
num1 = int(input("Enter Num1 : "))
num2 = int(input("Enter Num2 : "))

In [10]:
result = num1 + num2

In [11]:

print(result)

10

 data type

In [46]:
name = 'RAsel Mahamud' 
print(name)

RAsel Mahamud

In [48]:
name.upper()
name.lower()
name.title()
name.capitalize()
name.count('a')
name.find('l')
name.index('l')
name.endswith('d')
name.startswith('R')
name.isalpha()
name.isupper()
name.split('a')

['RAsel M', 'h', 'mud']

Complex Number

In [60]:
n=8
c=2+3j
print(c)
type(c)
complex(n)
bool(n)
bool(None)
bool(0)
bool("")

(2+3j)

False

String Formatting

In [69]:
name = 'Rasel' 
age = 24
cgpa= 3.69
a= " Name: {}\n Age: {}\n CGPA: {}\n\n".format(name, age, cgpa) 
print(a)
print(" Name: %s\n Age: %d\n CGPA: %.2f\n\n" %(name, age, cgpa))

print(f" Name: {name}\n Age: {age}\n CGPA: {cgpa}\n\n")

 Name: Rasel
 Age: 24
 CGPA: 3.69


 Name: Rasel
 Age: 24
 CGPA: 3.69


 Name: Rasel
 Age: 24
 CGPA: 3.69

In [47]:
roll=[1,17,True,'a',2.8,6,7]
roll
#Acess
roll[2]
roll[-3]
#Update
roll[2]=3
roll[3:4+1]=4,5
roll[0:]
roll[:4]
roll[2:4]
roll[-4:-2]
roll[-2:-4:-1]
roll[::-1]
roll[::2]
#Functions on list
len(roll)
roll.append(8)
roll.insert(2,'a')
roll.count(2)
roll.extend([11,12])
roll.append([14,15])
roll.pop()
roll.pop(2)
roll.remove(1)
roll.sort()
roll.sort(reverse=True)
roll.reverse()
sorted(roll)
sorted(roll, reverse=True)

[17, 12, 11, 8, 7, 6, 5, 4, 3]

In [59]:
ShallowCopy=roll
ShallowCopy.append(20)
roll

DeepCopy=roll.copy()
DeepCopy.append(30)
roll
DeepCopy

del roll[8]
del roll

[3, 4, 5, 6, 7, 8, 11, 12, 17, 20, 20, 20, 20, 20, 20, 20, 20]

In [97]:
# Tuple
t=(1,2,3,4,5,6,7,9,10,11)
#t[2]=8 # we cannot replace the value of tuple
#del t[5] #not possible that means any kindes of change in tuple
t

(1, 2, 3, 4, 5, 6, 7, 9, 10, 11)

In [72]:
tuple(roll)
list(t)

[1, 2, 3, 4, 5, 6, 7]

In [104]:
#SET
s={2,4,1,5,3,6,4,6,7} # set dose not show duplicate value and show result after sorting 
 
#s[5] # here indexing not possible
type(s)
s1=set(t)
s.add(8)
s.difference(s1)
s,s1
s1.difference(s)
s.intersection(s1)
s.union(s1)
s.symmetric_difference(s1)
s.pop() # delete item from starting
s.discard(5)
s

{2, 3, 4, 6, 7, 8}