In [ ]:
import sqlite3 as sq

# SQLite
SQLite is a C library that provides a lightweight disk-based database that doesn’t require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language.

Some applications can use SQLite for internal data storage. 
It’s also possible to prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle.

In [ ]:
# Creating Connection
conn = sq.connect('test.db') # connect() help us to create connection with our database 
                                # test.db is a  dataase file

# creating a cursor
cursor = conn.cursor() # cursor() help us to execute query

# Create Table
cursor.execute("""CREATE TABLE std(roll_no INT PRIMARY KEY, name TEXT, age INT, branch TEXT)""")
conn.close()

The connect() constructor creates a connection to the MySQL server and returns a MySQLConnection object.

# Connecting to DB and creating table

cursor.execute() approach is more suitable when the number of records is fairly small and you can write these records directly into the code.

executemany() is use to insert multiple rows into a table

In [ ]:
with sq.connect('test.db') as conn:
    cursor = conn.cursor()
    cursor.execute("""INSERT INTO std VALUES (?,?,?,?)""", (
        1, "John Smith", 26, "CSE")) # insert data dynamically

In [ ]:
# insert mulipul data
users=[]
for i in range(2,20):
    user=(i,f'user{i}',21+i, 'EEE')
    users.append(user)

In [ ]:
#using executemany
with sq.connect('test.db') as conn:
    cursor = conn.cursor()
    cursor.executemany("""INSERT INTO std VALUES (?,?,?,?)""", users)

cursor.fetchall() returns all the rows of a query result. It returns all the rows as a list of tuples. An empty list is returned if there is no record to fetch.

cursor.fetchmany(size) returns the number of rows specified by size argument.

cursor.fetchone() method returns a single record or None if no more rows are available.

# Selecting data

In [ ]:

with sq.connect('test.db') as conn: # need not closing
    cursor=conn.cursor()
data=cursor.execute("""SELECT * FROM std""").fetchall()
print(data)

In [ ]:

# eslect some specific field
data=cursor.execute("""SELECT name, age FROM std""").fetchall()
print(data)

In [ ]:
# using where condition
data=cursor.execute("""SELECT * FROM std where age>28""").fetchall()
print(data)

In [ ]:
# using where condition
data=cursor.execute("""SELECT * FROM std where age>28 AND age<31""").fetchall()
print(data)

In [ ]:
# using where condition
data=cursor.execute("""SELECT * FROM std where age>28 OR age<31""").fetchall()
print(data)

In [ ]:
data=cursor.execute("""SELECT * FROM std ORDER BY age DESC""").fetchall()
print(data)

In [ ]:
# using fetchone
data=cursor.execute("""SELECT * FROM std ORDER BY age ASC""").fetchone()
print(data)

In [ ]:
# using fetchmany
data=cursor.execute("""SELECT * FROM std ORDER BY age ASC""").fetchmany(5)
print(data)

# update

In [ ]:

data=cursor.execute("""UPDATE std SET branch='AIML' WHERE std.roll_no=7""")
print(data)

# Storing Quotes data

In [ ]:
with sq.connect('test.db') as conn: # need not closing
    cursor=conn.cursor()
    cursor.execute("""CREATE TABLE QUOTES( Quote TEXT , Author TEXT, Tags TEXT)""")

In [30]:
import csv
# read to csv file 
with open('Quotes.csv', mode='r', newline='', encoding='utf-8') as f: 
    reader = csv.reader(f, delimiter='|')   
    #print(list(reader))
    with sq.connect('test.db') as conn:
        cursor = conn.cursor()
        cursor.executemany("""INSERT INTO QUOTES VALUES (?,?,?)""", list(reader))

In [32]:
data=cursor.execute("""SELECT * FROM QUOTES""").fetchall()
print(data[0])

('Quote', 'Author', 'Tags')