# What is Pandas?
Pandas is a Python library used for working with data sets.
It has functions for analyzing, cleaning, exploring, and manipulating data.
The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis"

# Why Use Pandas?
Pandas allows us to analyze big data and make conclusions based on statistical theories.Pandas can clean messy data sets, and make them readable and relevant.
Relevant data is very important in data science.

In [ ]:
import numpy as np
import pandas as pd

# Series
series is basically 1 dimentional array which return data as column

In [ ]:
s1=pd.Series(np.arange(10,21), name='age')
s1

In [ ]:
s1[0]

In [ ]:
s1.astype(np.float64) # changing data type

# DataFrame
A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.

In [15]:
df=pd.DataFrame(
    {
        "Age": np.arange(10,20),
        "Height": np.arange(150, 170, 2),
        "Weight": np.arange(40,60,2)
    }

)
df

   Age  Height  Weight
0   10     150      40
1   11     152      42
2   12     154      44
3   13     156      46
4   14     158      48
5   15     160      50
6   16     162      52
7   17     164      54
8   18     166      56
9   19     168      58

# Saving Data

In [ ]:
df.to_csv('Students.csv') # saving data csv formate

In [ ]:
df.to_json('Students.json') # saving data json formate

In [ ]:
df.to_dict()

In [ ]:
df.to_html('Students.html') # saving data html formate

In [ ]:
df.to_xml('Students.xml') # saving data xml formate

In [18]:
df.to_clipboard() # this method copy this table data, we can pest that data any where

In [ ]:
	Age	Height	Weight
0	10	150	40
1	11	152	42
2	12	154	44
3	13	156	46
4	14	158	48
5	15	160	50
6	16	162	52
7	17	164	54
8	18	166	56
9	19	168	58

In [19]:
df.to_numpy() # Convert the DataFrame to a NumPy array.

array([[ 10, 150,  40],
       [ 11, 152,  42],
       [ 12, 154,  44],
       [ 13, 156,  46],
       [ 14, 158,  48],
       [ 15, 160,  50],
       [ 16, 162,  52],
       [ 17, 164,  54],
       [ 18, 166,  56],
       [ 19, 168,  58]])

In [20]:
df.to_numpy().dump('student.npy')

In [27]:
import openpyxl
df.to_excel('student.xlsx') # saving data into excel file

In [28]:
df.to_excel('students.xlsx', sheet_name='student') # saving data  student.xlsx file to student.xlsx

In [29]:
import sqlite3 as sq 
conn= sq.connect('students.db')
cursor=conn.cursor()

df.to_sql('student', conn) # saving data into sql dbms
conn.commit()