In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics

Data collection and processing

In [ ]:
# Loading data from CSV file to pandas dataframe
car_dataset=pd.read_csv('car data.csv')
car_dataset

In [ ]:
# inspecting first 5 rows from dataframe
car_dataset.head()

In [ ]:
# checking the number of rows and columns
car_dataset.shape

In [ ]:
# Getting some information about the dataset
car_dataset.info()

In [ ]:
# Checking the number of missing values
car_dataset.isnull().sum()

In [18]:
# Checking the distribution of the categorical dataset
print(car_dataset.Fuel_Type.value_counts())
print(car_dataset.Seller_Type.value_counts())
print(car_dataset.Transmission.value_counts())

Petrol    239
Diesel     60
CNG         2
Name: Fuel_Type, dtype: int64
Dealer        195
Individual    106
Name: Seller_Type, dtype: int64
Manual       261
Automatic     40
Name: Transmission, dtype: int64

In [15]:
car_dataset.head(2)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0