In [ ]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import sklearn.preprocessing as sk
#import sklearn as sk
#from sklearn import preprocessing as sk
#from sklearn.preprocessing import LabelEncoder as sk

In [ ]:
df=pd.read_csv('Data.csv')
df

In [ ]:
df.columns

In [ ]:
df.columns=['Marketing Spend', 'Administration Cost', 'Transport Cost', 'Area', 'Profit']

In [ ]:
df.shape

In [ ]:
n=df.isnull()

In [ ]:
n.sum()

In [ ]:
df.describe().T

In [ ]:
df.shape

In [ ]:
plt.scatter(df['Marketing Spend'],df['Administration Cost'])

# 1. One-Hot encoding

One-Hot encoding the categorical parameters using get_dummies()
it convert categorical variabels to integers nominal variables

In [ ]:
city= pd.get_dummies(df['Area'])  # return only selected column after encoding
city

In [ ]:
city= pd.get_dummies(df,  columns = ['Area']) # show all column after encoding
city

In [ ]:
city= pd.get_dummies(df) # similar to previous one
city

# 2. Label Encoding

Label Encoding refers to converting the labels into a numeric form so as to convert them into the machine-readable form. 

fit_transform()

fit_transform() is used on the training data so that we can scale the training data and also learn the scaling parameters of that data.

In [ ]:
df['Area']=sk.LabelEncoder().fit_transform(df['Area'])
df

In [ ]:

df['Area'].unique() # unique() method is used to know all type of unique values in Team column.

In [ ]:
df['Area'].value_counts()# value_counts() function to count the number of unique values in the given Index.

In [ ]:
miss=df['Marketing Spend'].mean()
miss
df['Marketing Spend']= df['Marketing Spend'].fillna(miss) # The fillna() method replaces the NULL values with a specified value.
df

In [ ]:
# rename Ctg to Chittagong
for i in df.index:
  if df.loc[i, "Area"] =='Ctg':
    df.loc[i, "Area", ] = 'Chittagong'
df

In [ ]:
# drop profit column from dataset
x=df.drop(['Profit'], axis=1)
x

In [ ]:
# exrect column from dataset
y=df['Profit']
y

In [ ]:
# encoding Area column 
x=pd.get_dummies(x,  columns = ['Area']) 
x

In [ ]:
x=x.drop(['Area'], axis=1)
x

# 3. Train & Test

In [ ]:

from sklearn.model_selection import train_test_split

In [ ]:
# Spliting Training and Testing
xtrain, xtest,ytrain,ytest= train_test_split(x,y, test_size=0.2,random_state=0)

test_sizefloat or int, default=None
If float, should be between 0.0 and 1.0 and represent the proportion of the dataset to include in the test split.

train_sizefloat or int, default=None
If float, should be between 0.0 and 1.0 and represent the proportion of the dataset to include in the train split

random_state: int, RandomState instance or None, default=None
Controls the shuffling applied to the data before applying the split. Pass an int for reproducible output across multiple function calls.

In [ ]:
len(xtrain)

In [ ]:
len(ytrain)

In [ ]:
xtrain

In [ ]:
xtest

# 4. Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression # fitting multiple linear regression to the training set

In [ ]:
Reg=LinearRegression()

In [ ]:
Reg.fit(xtrain,ytrain) # fit() method is used to train this model

In [ ]:
xtrain

In [ ]:
xtest

In [60]:
ytrain

33     96778.92
35     96479.51
26    105733.54
34     96712.80
18    124266.90
7     155752.60
14    132602.65
45     64926.08
48     35673.41
29    101004.64
15    129917.04
30     99937.59
32     97427.84
16    126992.93
42     71498.49
20    118474.03
43     69758.98
8     152211.77
13    134307.35
25    107404.34
5     156991.12
17    125370.37
40     78239.91
49     14681.40
1     191792.06
12    141585.52
37     89949.14
24    108552.04
6     156122.51
23    108733.99
36     90708.19
21    111313.02
19    122776.86
9     149759.96
39     81005.76
46     49490.75
3     182901.99
0     192261.83
47     42559.73
44     65200.33
Name: Profit, dtype: float64

In [61]:
ytest

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
27    105008.31
38     81229.06
31     97483.56
22    110352.25
4     166187.94
Name: Profit, dtype: float64

In [63]:
xtest

,Marketing Spend,Administration Cost,Transport Cost,Area_Ctg,Area_Dhaka,Area_Rangpur
28,66051.52,182645.56,118148.20,0,0,1
11,100671.96,91790.61,249744.55,1,0,0
10,101913.08,110594.11,229160.95,0,0,1
41,27892.92,84710.77,164470.71,0,0,1
2,153441.51,101145.55,407934.54,0,0,1
27,72107.60,127864.55,353183.81,0,1,0
38,20229.59,65947.93,185265.10,0,1,0
31,61136.38,152701.92,88218.23,0,1,0
22,73994.56,122782.75,303319.26,0,0,1
4,142107.34,91391.77,366168.42,0,0,1

In [62]:
# predicting the test set result
pred=Reg.predict(xtest)
pred

array([103041.93019716, 128255.24514193, 126922.75723188,  71221.31157207,
       173705.41063238, 124824.61560522,  70488.40325059,  98535.73506187,
       116684.02101887, 161845.22370261])

# 5. R squared value

In [ ]:
from sklearn.metrics import r2_score

In [66]:
score=r2_score(ytest,pred) # accuracy testing using R squared method
score

0.8798164664775019

In [64]:
ytest

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
27    105008.31
38     81229.06
31     97483.56
22    110352.25
4     166187.94
Name: Profit, dtype: float64

In [65]:
Reg.score(xtest,ytest) # accuracy testing using score() method

0.8798164664775019