# Pandas Tutorial
Pandas is a Python library.

Pandas is used to analyze data.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
print(pd.__version__)

In [ ]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
  

}
myvar = pd.DataFrame(mydataset)

print(myvar)

# 1. Pandas Series
A Pandas Series is like a column in a table.
It is a one-dimensional array holding data of any type.

In [ ]:
# Create a simple Pandas Series from a list:
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

In [ ]:
#Return the first value of the Series:

print(myvar[0])

In [ ]:
# Create Labels
# With the index argument, you can name your own labels.
a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

In [ ]:
#Return the value of "y":
print(myvar["y"])

Key/Value Objects as Series

You can also use a key/value object, like a dictionary, when creating a Series.

Note: The keys of the dictionary become the labels.

In [ ]:
# Create a simple Pandas Series from a dictionary:
calories = {"satarday": 420, "sunday": 380, "Monday": 390}
myvar = pd.Series(calories)
print(myvar)

In [ ]:
#Create a Series using only data from "satarday" and "Monday":
calories = {"satarday": 420, "sunday": 380, "Monday": 390}
myvar = pd.Series(calories, index = ["satarday", "Monday"])

print(myvar)

# 2. DataFrames

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [ ]:
#Create a DataFrame from two Series:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data)
print(df)

In [ ]:
# Locate Row
# Pandas use the loc attribute to return one or more specified row(s)
print(df.loc[0]) #refer to the row index:

In [ ]:
# Return row 0 and 1:
print(df.loc[[0, 1]]) # use a list of indexes:

# 3. Pandas Read CSV

In [ ]:
# Load the CSV into a DataFrame:
df = pd.read_csv('data.csv')
print(df.to_string()) # Tip: use to_string() to print the entire DataFrame.

In [ ]:
print(df) # Print the DataFrame without the to_string() method:

In [ ]:
# Check the number of maximum returned rows:

print(pd.options.display.max_rows)

In [ ]:
# Increase the maximum number of rows to display the entire DataFrame:
pd.options.display.max_rows = 9999
df = pd.read_csv('data.csv')

print(df)

# 4. Pandas Read JSON
JSON = Python Dictionary

JSON objects have the same format as Python dictionaries.

If your JSON code is not in a file, but in a Python Dictionary, you can load it into a DataFrame directly

In [ ]:

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

In [19]:
df.to_json('data.json') # saving data json formate

In [23]:
print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [26]:
dj = pd.read_json('data.json')
print(dj.to_string())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [27]:
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406

In [28]:
df.tail()

   Duration  Pulse  Maxpulse  Calories
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [29]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  6 non-null      int64
 1   Pulse     6 non-null      int64
 2   Maxpulse  6 non-null      int64
 3   Calories  6 non-null      int64
dtypes: int64(4)
memory usage: 240.0 bytes
None